<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="utf-8" />
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body class="container bg-light">
	<div id="cadastro-livro">
		<form action="/salvar" method="post" th:object="${livroobj}">
			<h1>Cadastro de Livros</h1>
			<div class="row ">
				<div class="col p-1">
					<label for="id">ID</label> <input class="form-control" name="id"
						th:field="*{id}" readonly="readonly">
				</div>
				<div class="col p-1">
					<label for="codigo">Código</label> <input class="form-control"
						type="text" name="codigo" th:field="*{codigo}" readonly="readonly" />
				</div>
				<div class="col p-1">
					<label for="isbn">ISBN</label> <input class="form-control"
						name="isbn" th:field="*{isbn}" required />
				</div>
				<div class="col p-1">
					<label for="qtdPaginas">Nº de Páginas</label> <input
						class="form-control" type="number" min="0" name="qtdPaginas"
						th:field="*{qtdPaginas}" required />
				</div>
				<div class="col p-1">
					<label for="edicao">Edição</label> <input class="form-control"
						type="number" min="0" name="edicao" th:field="*{edicao}" required />
				</div>
			</div>
			<div class="row">
				<div class="col p-1">
					<label for="titulo">Título</label> <input class="form-control"
						type="text" name="titulo" th:field="*{titulo}" required />
				</div>
				<div class="col p-1">
					<label for="autor.nome">Autor</label> <input class="form-control"
						type="text" list="autores" name="autor.nome"
						th:field="*{autor.nome}" required />
					<datalist id="autores">
						<option value="Internet Explorer">
						<option value="Wesley">
						<option value="José">
						<option value="Safadão">
					</datalist>
				</div>
				<div class="col p-1">
					<label for="editora.name">Editora</label> <input
						class="form-control" type="text" name="editora.nome"
						list="editoras" th:field="*{editora.nome}" required />
					<datalist id="editoras">
						<option value="Marihuannas">
						<option value="Snoop Dog">
						<option value="Opera">
						<option value="Abril">
					</datalist>
				</div>
				<div class="col p-1">
					<label for="anoPublicacao">Ano Publicação</label> <input
						class="form-control" type="text" name="anoPublicacao"
						th:field="*{anoPublicacao}" />
				</div>
			</div>
			<div class="row">
				<div class="col p-1">
					<label for="categoria.descricao">Categoria</label> <input
						class="form-control" type="text" name="categoria.descricao"
						th:field="*{categoria.descricao}" required />
				</div>

				<div class="col p-1">
					<label for="grupoPrecificacao.descricao">Grupo Precificação</label>
					<input class="form-control" type="text"
						name="grupoPrecificacao.descricao"
						th:field="*{grupoPrecificacao.descricao}" required />
				</div>
				<div class="col p-1">
					<label for="codBarras">Código de Barras</label> <input
						class="form-control" name="codBarras" th:field="*{codBarras}"
						required />
				</div>
			</div>
			<div class="row ">
				<div class="col p-1">
					<label for="dimensoes.altura">Altura</label> <input
						class="form-control" name="dimensoes.altura"
						th:field="*{dimensoes.altura}" required />
				</div>
				<div class="col p-1">
					<label for="dimensoes.largura">Largura</label> <input
						class="form-control" name="dimensoes.largura"
						th:field="*{dimensoes.largura}" required />
				</div>
				<div class="col p-1">
					<label for="dimensoes.peso">Peso</label> <input
						class="form-control" name="dimensoes.peso"
						th:field="*{dimensoes.peso}" required />
				</div>
				<div class="col p-1">
					<label for="dimensoes.profundidade">Profundidade</label> <input
						class="form-control" name="dimensoes.profundidade"
						th:field="*{dimensoes.profundidade}" required />
				</div>
			</div>

			<div class="row">
				<div class="col p-1">
					<label for="sinopse">Sinopse</label> <input class="form-control"
						type="text" name="sinopse" th:field="*{sinopse}" required />
				</div>
			</div>
			<div class="row">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="ativo"
						value="true" th:field="*{ativo}" required> <label
						class="form-check-label" for="ativo">Ativo</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inativo"
						value="false" th:field="*{ativo}"> <label
						class="form-check-label" for="inativo">Inativo</label>
				</div>
			</div>
			<div class="row justify-content-end p-1">
				<button class="btn btn-secondary" type="submit" value="salvar">Cadastrar</button>
			</div>

		</form>
		<br />
		<hr />
	</div>
	<div id="consulta-livro">
		<h1>Consulta</h1>
		<a class="btn btn-secondary" href="/consultar">Listar Todos</a> <br />
		<br />

		<form action="/pesquisar" method="post">
			<div class="row">
				<div class="col-small">
					<div class="input-group ml-3">
						<div class="input-group-prepend">
							<button class="btn btn-outline-secondary" type="submit"
								id="button-addon1">Buscar por título</button>
						</div>
						<input type="text" class="form-control" name="titulo" />
					</div>
				</div>
			</div>
		</form>
		<br />
		<hr />
	</div>
</body>
</html>