<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="utf-8" />
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">@</span>
		</div>
		<input th:value="${name}" type="text" class="form-control"
			placeholder="Usuário" aria-label="Usuário"
			aria-describedby="basic-addon1">
	</div>
	<a href="/cadastro">Cadastro Livro</a>
</body>
</html>